// Fontstsacks
$helvetica: "helvetica neue", arial, helvetica, freesans, "liberation sans", "numbus sans l", sans-serif;
$geneva: geneva, tahoma, "dejavu sans condensed", sans-serif;
$lucida: "lucida grande", "lucia sans unicode", "lucida sans", lucida, sans-serif;
$verdana: verdana, "bitstream vera sans", "dejavu sans", "liberation sans", geneva, sans-serif;
$cambria: cambria, georgia, "bitstream charter", "century schoolbook l", "liberation serif", times, serif;
$palatino: "palatino linotype", palatino, palladio, "urw palladio l", "book antiqua", "liberation serif", times, serif;
$times: times, "times new roman", "nimbus roman no9 l", freeserif, "liberation serif", serif;
$courier: "courier new", courier, freemono, "nimbus mono l", "liberation mono", monospace;
$monaco: monaco, "lucida console", "dejavu sans mono", "bitstream vera sans mono", "liberation mono", monospace;


// Heading styles
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 { 
  line-height:1.2; 
  text-transform:none; 
  font-family:$geneva; 
  font-weight: normal; 
  margin-top: 0; 
  margin-bottom: 1.5rem;
}

h1, .h1 { @include rem(font-size,46px); }
h2, .h2 { @include rem(font-size,34px); }
h3, .h3 { @include rem(font-size,28px); } 
h4, .h4 { @include rem(font-size,22px); }
h5, .h5 { @include rem(font-size,18px); }
h6, .h6 { font-weight:normal; text-transform:none }